@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

/* Fonts */
.monospace {
    font-family: "Space Mono", monospace;
}
.inter {
    font-family: "Inter", sans-serif;
}

/* Styling */
* {
    color: white;
}

h1 {
    font-size: 5rem;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

h2 {
    font-size: 3.5rem;
    font-weight: bold;
}

h3 {
    font-size: 2rem;
}

.menu-button {
    border: 1px solid #FF1493;
    color: white;
    padding: 5px;
    transition: background-color 0.5s;
    border-radius: 5%;
}

.menu-button:hover {
    background-color: #FF1493;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
}